<!--<ul>
  <li><a routerLinkActive="active" routerLink="home">Home (everyone)</a></li>
  <li><a routerLinkActive="active" routerLink="admin/products" *ngIf="isAuthenticated">Products (admin)</a></li>
  <li><a routerLinkActive="active" routerLink="admin/users">Users (admin)</a></li>
  <li><a routerLinkActive="active" routerLink="techrezusers/products">Products (techrezuser)</a></li>
  <li><a routerLinkActive="active" routerLink="techrezusers/orders">Orders (techrezuser)</a></li>
  <li style="float:right"><a routerLinkActive="active" routerLink="techrezusers/orders">Logout</a></li>
  <li style="float:right"><a style="cursor:pointer" (click)="challengeOidc()">Login</a></li>
  <li style="float:right"><a routerLinkActive="active" routerLink="techrezusers/orders">My Account</a></li>
</ul>

<br />
<br /><button (click)="getUserContext()">Get user context</button>
<br />
<br />

<router-outlet></router-outlet>-->
<app-menu></app-menu>
