.error-message {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
  background-color: #de8a92;
  color: black;
  margin-left: 10px;
  text-align: center;
  border-color: #f5c6cb;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  opacity: 0.85;
  z-index: 100;
}

.grid-header {
  float: right;
  margin-top: 10px;
}

.content {
  padding: 20px 20px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

  .content table {
    background-color: white;
  }

/*duplicated*/
.trz-header {
  width: 100%;
  background-color: #99a8a9;
  height: 60px;
  padding: 11px;
  font-size: 22px;
}

  .trz-header.active, .trz-header:hover {
    background-color: #808b8c;
  }

.trz-title {
  display: inline-block;
  width: 80%;
  vertical-align: middle
}

.trz-title-action {
  display: inline-block;
  float: right;
}
