<form #editproductform="ngForm" (ngSubmit)="updateProduct()" *ngIf="product != null">

  <div [class.has-error]="productdescription.invalid" [class.has-success]="productdescription.valid && productdescription.dirty">

    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Description" type="text" required name="description" [(ngModel)]="product.description"
               #productdescription="ngModel" minlength="5" maxlength="30">
      </mat-form-field>

      <div *ngIf="productdescription.touched && !productdescription.valid">
        <mat-error *ngIf="productdescription.errors.minlength">
          Should be minimum of {{productdescription.errors.minlength.requiredLength}} catacters !
        </mat-error>
        <mat-error *ngIf="productdescription.errors.required">
          Product description is required !
        </mat-error>
      </div>

      <mat-form-field>
        <input matInput type="number" name="stock" placeholder="Stock" [(ngModel)]="product.stock" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" name="price" placeholder="Price" [(ngModel)]="product.price" />
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select a category" name="categoryId" [(ngModel)]="product.categoryID">
          <mat-option *ngFor="let cateogry of categories" [value]="cateogry.id">{{cateogry.description}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="example-button-row">
        <button mat-stroked-button type="submit" class="btn btn-default" [disabled]="editproductform.invalid">Update</button>
        <button mat-stroked-button type="button" class="btn btn-default" (click)=cancelUpdate()>Cancel</button>
      </div>

    </div>
  </div>
</form>
