<p>Admin product component</p>

<table style="width:100%;">
  <tr>
    <td style="background-color:aqua;height:150px;">
      <search (searchResultEmitter)="displaySearchResult($event)"></search>
    </td>
    <td rowspan="3" style="background-color:grey;width:50%;">
      <app-feed></app-feed>
    </td>
  </tr>
  <tr>
    <td style="background-color:red;height:200px;" *ngIf="searchResult.length > 0">
      <list [products]="searchResult"></list>
    </td>
  </tr>
  <tr>
    <td style="background-color:yellow;height:180px;">
      <ul>
        <li><a [routerLink]="['details']" skipLocationChange queryParamsHandling="preserve">Details</a></li>
        <li><a [routerLink]="['orders']" skipLocationChange queryParamsHandling="preserve">Orders</a></li>
        <router-outlet></router-outlet>
      </ul>
    </td>
  </tr>
</table>
