<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"><input type="checkbox" [checked]="isAllSelected()" (change)="toggleSelectAll($event)"/></th>
      <th *ngFor="let gridField of gridFields"
          scope="col"
          [hidden]="gridField.hidden"
          [ngClass]="{'sorted-field': gridField.sortfieldIndex == sortFieldIndex}"
          [attr.data-sortfieldIndex]="gridField.hidden ? null : gridField.sortfieldIndex"
          (click)="emitSortField($event, gridField.hidden)">
        {{gridField.fieldDescription}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products"
        [ngClass]="{'selected-grid-item': product.productId == selectedItemId}"
        [ngStyle]="{'background-color': getTrBackGroundColor(product)}"
        (dblclick)="openItem(product)"
        >
      <td><input type="checkbox" [disabled]="product.productId == selectedItemId" (change)="product.selected = !product.selected;" [checked]="product.selected" /></td>
      <td>{{product.productId}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.supplierId}}</td>
      <td>{{product.categoryId | category}}</td>
      <td>{{product.quantityPerUnit}}</td>
      <td>{{product.unitPrice}}</td>
    </tr>
  </tbody>
</table>
