<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"><input type="checkbox" (change)="toggleSelectPageItems($event)" [checked]="isAllSelected()" /></th>
      <th *ngFor="let gridField of gridFields"
          scope="col"
          [hidden]="gridField.hidden"
          [ngClass]="{'sorted-field': gridField.sortfieldIndex == sortFieldIndex}"
          [attr.data-sortfieldIndex]="gridField.hidden ? null : gridField.sortfieldIndex"
          (click)="emitSortField($event, gridField.hidden)">
        {{gridField.fieldDescription}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products"
        [ngClass]="{'selected-grid-item': product.productId == selectedItemId}"
        >
      <td><input type="checkbox" (click)="toggleAppendId(product.productId)" [checked]="idsForDeletion.indexOf(product.productId) !== -1" /></td>
      <td>{{product.productName}}</td>
      <td>{{product.supplierId}}</td>
      <td>{{product.categoryId | category}}</td>
      <td>{{product.quantityPerUnit}}</td>
      <td>{{product.unitPrice}}</td>
    </tr>
  </tbody>
</table>
