<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="productFilter.description">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Min. Stock" [(ngModel)]="productFilter.minStock">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Max. Stock" [(ngModel)]="productFilter.maxStock">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Min. Price" [(ngModel)]="productFilter.minPrice">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Max. Price" [(ngModel)]="productFilter.maxPrice">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Category" [(ngModel)]="productFilter.categoryID">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category.id">{{category.description}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button (click)="filterProductList()">Apply</button>
    <button mat-raised-button (click)="initFilter()">Back to default</button>
    <button mat-raised-button (click)="openDialog()">Create new</button>
  </div>

</div>

<br />

<table mat-table [dataSource]="products" class="mat-elevation-z8">

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef (click)="sort('description')">
      Description
      <mat-icon *ngIf="productFilter.orderColumn=='description'">
        arrow_drop_{{productFilter.isDesc?'down':'up'}}
      </mat-icon>
    </th>
    <td mat-cell *matCellDef="let product"> {{product.description}} </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef (click)="sort('stock')">
      Stock
      <mat-icon *ngIf="productFilter.orderColumn=='stock'">
        arrow_drop_{{productFilter.isDesc?'down':'up'}}
      </mat-icon>
    </th>
    <td mat-cell *matCellDef="let product"> {{product.stock}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef (click)="sort('price')">
      Price
      <mat-icon *ngIf="productFilter.orderColumn=='price'">
        arrow_drop_{{productFilter.isDesc?'down':'up'}}
      </mat-icon>
    </th>
    <td mat-cell *matCellDef="let product"> {{product.price}} </td>
  </ng-container>

  <ng-container matColumnDef="categoryID">
    <th mat-header-cell *matHeaderCellDef (click)="sort('categoryID')">
      category
      <mat-icon *ngIf="productFilter.orderColumn=='categoryID'">
        arrow_drop_{{productFilter.isDesc?'down':'up'}}
      </mat-icon>
    </th>
    <td mat-cell *matCellDef="let product"> {{product.categoryID | categoryPipe}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let product">
      <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">X</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="propNames" style="cursor:pointer"></tr>
  <tr mat-row *matRowDef="let row; columns: propNames;" [ngClass]="{'selectedRow':selectedProduct == row}" (dblclick)="selectProduct(row)"></tr>
</table>

<br />

<mat-paginator [length]="totalCount"
               [pageSize]="productFilter.pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="page($event)">
</mat-paginator>

<div *ngIf="selectedProduct != null">
  <productdetails 
    *ngIf="!editMode" 
    (childEvent)="editMode=$event" 
    [productid]="selectedProduct.id">
  </productdetails>

  <productedit 
    *ngIf="editMode" 
    (productUpdated)="refreshUpdatedProduct($event)" 
    (productUpdateCanceled)="refreshDetailsSection($event)"
    [productid]="selectedProduct.id">
  </productedit>
</div>
