<div class='col-md-12' style="margin-bottom:3%; margin-top:3%">
  <div class='col-md-3'>
    <select class="form-control" [(ngModel)]="sortField" (change)="sort()">
      <option value="id" selected="selected">-- Sort by --</option>
      <option value="description">Description</option>
      <option value="stock">Stock</option>
      <option value="price">Price</option>
      <option value="categoryID">Category</option>
    </select>
  </div>

  <div class="col-md-5" style="margin-top:7px">
    <span
          class="glyphicon"
          [ngClass]="{'glyphicon-triangle-top':isDesc == true, 'glyphicon-triangle-bottom':isDesc == false}"
          style="cursor:pointer" (click)="toggleSortOrder()"
     ></span>
  </div>
</div>

<div class='col-sm-7'>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>Description</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products"
          [ngStyle]="{'background-color': getTrBackgroundColor(product) }" style="cursor:pointer"
          (click)="selectProduct(product)">
        <td>{{ product.description  | useless}}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.price | currency}}</td>
        <td>{{ product.categoryDescription}}</td>
        <td><span class="glyphicon glyphicon-remove" (click)="deleteProdut(product.id)"></span></td>
      </tr>
    </tbody>
  </table>
</div>

<div class='col-sm-5' *ngIf="selectedProduct">
  <app-productadd [product]="selectedProduct"></app-productadd>
</div>
