<p>
  Product List
</p>

<table class='table'>
  <thead>
    <tr>
      <th>Description</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.description }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.categoryDescription }}</td>
      <td><button class="btn btn-danger" (click)="deleteProdut(product.id)" >Delete</button></td>
    </tr>
  </tbody>
</table>
