<table class="table table-bordered" *ngIf="list && list.source">
  <thead>
    <tr>
      <th *ngFor="let gridField of gridFields"
          scope="col"
          [hidden]="gridField.hidden"
          [ngClass]="{'sorted-field': gridField.sortfieldIndex == sortFieldIndex}"
          [attr.data-sortfieldIndex]="gridField.hidden ? null : gridField.sortfieldIndex"
          (click)="emitSortField($event, gridField.hidden)">
        {{gridField.fieldDescription}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list.source"
        style="cursor:pointer; height:80px;"
        [ngClass]="{'selected-grid-item' : item.orderId == selectedItemId }"
        (click)="selectItem(item)"
        >
      <td hidden>{{item.orderId}}</td>
      <td>{{item.companyName}}</td>
      <td>{{item.employeeFirstName}} {{item.employeeLastName}}</td>
      <td>{{item.orderDate | date : 'dd/MM/yyyy'}}</td>
      <td>{{item.shipCountry}}</td>
    </tr>
  </tbody>
</table>
