<table *ngIf="products && products.length > 0">
  <tr>
    <td>
      <table border="1">
        <tr *ngFor="let product of products" (click)="selectItem(product)" [ngStyle]="{ 'background-color' : (product.code == selectedItem?.code) ? 'grey' : 'inherit' }" style="height:60px;">
          <td>{{ product.code }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.categoryId | category }}</td>
        </tr>
      </table>
    </td>
    <td style="background-color:white">
      <img *ngIf="selectedItem" [src]="'https://localhost:44301/api/product/images/' + selectedItem.photoUrl" width="300" height="150" />
    </td>
  </tr>
</table>
<div class="tab" *ngIf="currentItemId">
  <a routerLink="{{currentItemId}}/details" queryParamsHandling="preserve" routerLinkActive="active" class="tablinks">Details</a>
  <a routerLink="{{currentItemId}}/orders" queryParamsHandling="preserve" routerLinkActive="active" class="tablinks">Orders</a>
</div>
<router-outlet></router-outlet>
