<p *ngIf="selectedItem">Editing details of : {{selectedItem.description}}</p>

Description
<input type="text" [(ngModel)]="product.description" />
<br />
Price
<input type="text" [(ngModel)]="product.price" />
<br />
Qauntity
<input type="number" [(ngModel)]="product.quantity" step="1" />
<br />
Category
<select [(ngModel)]="product.categoryId">
  <option *ngFor="let category of categories" value="{{category.code}}">{{category.description}}</option>
</select>
<br />
Photo
<input type="file" (change)="fileSelected($event)" />
<br />
<button (click)="saveChanges()">Save Changes</button>
<br />
