<div class='col-sm-7'>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>Description</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products"
          [ngStyle]="{'background-color': getTrBackgroundColor(product) }" style="cursor:pointer"
          (click)="selectProduct(product)">
        <td>{{ product.description  | useless}}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.price | currency}}</td>
        <td>{{ product.categoryDescription}}</td>
        <td><span class="glyphicon glyphicon-remove" (click)="deleteProdut(product.id)"></span></td>
      </tr>
    </tbody>
  </table>
</div>

<div class='col-sm-5' *ngIf="selectedProduct">
  <app-product-edit [product]="selectedProduct"></app-product-edit>
</div>
