<div *ngIf="!isDataLoaded">
  <p>Loading...</p>
</div>

<div *ngIf="isDataLoaded">
  <div class='col-md-12' style='margin:1%'>
    <div class='col-md-3'>
      <select class="form-control" [(ngModel)]="sortField" (change)="sort()">
        <option value="id" selected="selected">-- Sort by --</option>
        <option value="description">Description</option>
        <option value="stock">Stock</option>
        <option value="price">Price</option>
        <option value="categoryID">Category</option>
      </select>
    </div>

    <div class="col-md-5" style="margin-top:7px">
      <span class="glyphicon"
            [ngClass]="{'glyphicon-triangle-top':isDesc == true, 'glyphicon-triangle-bottom':isDesc == false}"
            style="cursor:pointer" (click)="toggleSortOrder()"></span>
    </div>
  </div>

  <div class='col-sm-12'>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>Description</th>
          <th>Stock</th>
          <th>Price</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" style="cursor:pointer">
          <td>{{ product.description}}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.price | currency}}</td>
          <td>{{ product.categoryDescription}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
