<app-alert [message]="searchErrorMessage" (close)="closeErrorDialog()" *ngIf="searchErrorMessage"></app-alert>
<form (ngSubmit)="search()" #f="ngForm">
  <select [ngModel]="searchParams?.categoryId" (ngModelChange)="searchParams.categoryId = $event" name="categoryId">
    <option value="">All categories</option>
    <option *ngFor="let category of categories" value="{{category.code}}">{{category.description}}</option>
  </select>
  <br />
  <input type="text" [ngModel]="searchParams?.description" (ngModelChange)="searchParams.description = $event" name="description">
  <br /><br /><br />
  <input type="submit" value="Search" />
</form>
