.error-message {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
  background-color: #de8a92;
  color: black;
  margin-left: 10px;
  text-align: center;
  border-color: #f5c6cb;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  opacity: 0.85;
  z-index: 100;
}
